
# ignore all log file
*.out
*.log

# ignore all training_result folder
./**/VGG16*/
./**/RESNET18*/
./**/UNET*/
./**/VIT*/
./**/LENET*/
./**/LENET_REVISED*/
./**/DB*/

# ignore DB folder
DB/

# ignore result folder
result/
/result

# ignore __pycache__ folder
__pycache__/
/__pycache__

# ignore all main.py
main.py
